@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
}

header {
  background-image: url("../img/webinar/slider_1.png");
  background-repeat: no-repeat;
  background-position: top;
  height: 860px;
  position: relative;
}

header::after {
  content: "";
  position: absolute;
  background-image: url("../img/webinar/logo_header.png");
  background-repeat: no-repeat;
  width: 504px;
  height: 350px;
  top: -43px;
  right: 0;
}

header::before {
  content: "";
  position: absolute;
  background-image: url("../img/webinar/personaje.png");
  width: 504px;
  height: 676px;
  right: 0;
  bottom: 70px;
  left: 273px;
  margin: 0 auto;
}

.header-home::before {
  content: "";
  position: absolute;
  background-image: url("../img/hogar/mano_celular_slider_header.png");
  background-repeat: no-repeat;
  width: 504px;
  height: 676px;
  right: 0;
  bottom: 12px;
  left: 273px;
  margin: 0 auto;
}

.header-drone::before {
  content: "";
  position: absolute;
  background-image: none;
}

header.header-redis {
  height: 1050px;
}

.header-redis::before {
  content: "";
  position: absolute;
  background-image: none;
}

.form-redis {
  background-color: #f4f1ee;
  height: 450px;
  position: relative;
}

.form-redis::before {
  content: "";
  position: absolute;
  background-image: url("../img/redis/transporte-urbano.jpg");
  width: 475px;
  height: 450px;
  background-size: contain;
  background-repeat: no-repeat;
  right:-75px;
}

.section-top {
  position: relative;
  overflow: hidden;
}

.section-top::before {
  content: "";
  position: absolute;
  background-image: url("../img/webinar/dot-bg-1.png");
  background-repeat: no-repeat;
  background-size: 144px;
  width: 144px;
  height: 127px;
  bottom: -42px;
  left: -52px;
  z-index: 1;
}

header .text-header {
  color: #fff;
}

header .text-header p {
  font-weight: 300;
  font-size: 38px;
}

header .text-header .header-home-text {
  font-size: 15px;
}

header .date-box .date {
  background-color: #cb3b34;
  padding: 5px 33px;
  font-size: 25px;
  font-weight: 600;
}
header .date-box .hour-box {
  margin: 0 30px;
}

header .date-box .hour {
  font-size: 23px;
  font-weight: 600;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin-right: 45px;
}

nav ul li a {
  font-size: 23px;
  color: #fff;
}

.section-1 h4 {
  line-height: 30px;
  font-size: 25px;
  color: #42495b;
  font-weight: 600;
}

.section-1 p {
  font-weight: 300;
}

.section-2 h4 {
  line-height: 30px;
  font-size: 22px;
  color: #42495b;
  font-weight: 600;
}

.section-2 span {
  margin-right: 20px;
}

.section-2 {
  position: relative;
  overflow: hidden;
}

.section-2::before {
  content: "";
  position: absolute;
  background-image: url("../img/webinar/dot-bg-1.png");
  background-repeat: no-repeat;
  background-size: 175px;
  width: 175px;
  height: 171px;
  bottom: -21px;
  right: 11px;
  z-index: -1;
}

.section-2 .form {
  width: 100%;
  height: 450px;
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0px 2px 33px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 33px -19px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 33px -19px rgba(0, 0, 0, 0.75);
}

.section-3 {
  background-image: url("../img/webinar/graphic.png");
  background-repeat: no-repeat;
  background-position: top;
  height: 700px;
  color: #fff;
}

.section-3 h1 {
  font-size: 30px;
}

.section-3 p {
  font-size: 15px;
}

.section-3 .section-3-heading {
  position: relative;
}

.section-3 .section-3-heading::after {
  content: "";
  position: absolute;
  height: 6px;
  width: 70px;
  background-color: #ca1f25;
  margin: 0 auto;
  right: 0;
  left: 0;
  bottom: -25px;
}

.section-3 .item-box img {
  border-radius: 15px !important;
}

.section-3 .item-box-card {
  position: relative;
}

.section-3 .item-box-card .footer-box {
  background-color: #ca1f25;
  padding: 35px 20px;
  border-radius: 0 0 15px 15px;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  overflow: hidden;
}

.section-3 .footer-box::before {
  content: "";
  position: absolute;
  background-image: url("../img/webinar/dot-bg-1.png");
  background-repeat: no-repeat;
  background-size: 89px;
  width: 60px;
  height: 18px;
  bottom: 2px;
  right: 0;
  left: 6px;
  margin: 0 auto;
}

.section-3 .item-box .footer-box h5 {
  font-size: 14px;
}

.section-3 .item-box .footer-box small {
  font-size: 11px;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #3573b6 0%,
    #25d7f7 51%,
    #3573b6 100%
  );
  margin: 10px;
  padding: 10px 8px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

footer .container-fluid {
  background-image: url("../img/webinar/footer.png");
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  height: 275px;
}

/*HOME ATLAS*/
.section-2-home .container {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 33px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 33px -19px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 33px -19px rgba(0, 0, 0, 0.75);
}

.section-2-home .container .row {
  padding: 4rem;
}

.benefits-section h1 {
  font-size: 30px;
  color: #484e60;
  font-weight: 600;
}

.benefits-section p {
  font-size: 15px;
  color: #484e60;
  font-weight: 500;
}

.benefits-section .benefits-section-heading {
  position: relative;
}

.benefits-section .benefits-section-heading::after {
  content: "";
  position: absolute;
  height: 6px;
  width: 70px;
  background-color: #ca1f25;
  margin: 0 auto;
  right: 0;
  left: 0;
  bottom: -25px;
}

.benefits-section-item h5 {
  font-size: 16px;
  color: #289bf8;
  font-weight: 600;
}

.benefits-section-item p {
  font-size: 14px;
  font-weight: 300;
}

.benefits-section-item .benefits-section-item-text {
  padding: 0 20px;
}

.home-section-3 {
  background-image: url("../img/webinar/graphic.png");
  background-repeat: no-repeat;
  background-position: inherit;
  height: 800px;
  color: #fff;
}

.home-section-3 h1 {
  font-size: 30px;
}

.home-section-3 p {
  font-size: 15px;
}

.home-section-3 .section-3-heading {
  position: relative;
}

.home-section-3 .section-3-heading::after {
  content: "";
  position: absolute;
  height: 6px;
  width: 70px;
  background-color: #ca1f25;
  margin: 0 auto;
  right: 0;
  left: 0;
  bottom: -25px;
}

.home-section-3 .home-item-box .item-box-card {
  width: 300px;
  height: 320px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 33px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 33px -19px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 33px -19px rgba(0, 0, 0, 0.75);
}

.home-section-3 .home-item-box .item-box-card .img {
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #289bf8;
}

.home-section-3 .home-item-box .item-box-card .img img {
  border-radius: 15px;
}

.redis-section-3 {
  background-image: url("../img/webinar/graphic.png");
  background-repeat: no-repeat;
  background-position: inherit;
  height: 1200px;
  color: #fff;
}

.redis-section-3 h1 {
  font-size: 30px;
}

.redis-section-3 p {
  font-size: 15px;
}

.redis-section-3 .section-3-heading {
  position: relative;
}

.redis-section-3 .section-3-heading::after {
  content: "";
  position: absolute;
  height: 6px;
  width: 70px;
  background-color: #ca1f25;
  margin: 0 auto;
  right: 0;
  left: 0;
  bottom: -25px;
}

.redis-section-3 .home-item-box .item-box-card {
  width: 540px;
  height: 400px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 33px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 33px -19px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 33px -19px rgba(0, 0, 0, 0.75);
}

.testimonial-redis-box {
  background-color: #fff;
  padding: 50px 30px;
  -webkit-box-shadow: 0px 2px 33px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 33px -19px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 33px -19px rgba(0, 0, 0, 0.75);
}

.testimonial-redis-box h5 {
  color: #197fdc;
  font-weight: 600;
  font-size: 21px;
}

.testimonial-redis-box p {
  font-size: 14px;
}

.title-cases {
  color: #ca1f25;
  font-weight: 600;
}

.header-drone .btn-drone {
  text-decoration: none;
  background-color: #fff;
  padding: 10px 15px;
  color: #289bf8;
  transition: 0.5s;
}

.header-drone .btn-drone:hover {
  background-color: #ca1f25;
  color: #fff;
  transition: 0.5s;
}

.item-box-card .drone-text {
  text-align: center;
  color: #42495b;
  font-weight: 500;
  font-size: 14px;
}

.carousel-inner .carousel-item .carousel-item-img {
  width: 520px;
}

.carousel-indicators {
  bottom: -75px !important;
  align-items: center !important;
}

.carousel-indicators button {
  background-color: #c6c7c9 !important;
  width: 13px !important;
  height: 13px !important;
  border-radius: 50%;
}

.carousel-indicators .active {
  width: 130px !important;
  height: 0px !important;
  border-radius: 20px !important;
  background-clip: inherit !important;
  border-top: 3px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  background-color: #ca1f25 !important;
}

.accordion-button {
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 0 !important;
}

.accordion-button span {
  font-size: 16px;
}

.collapsed .number-collapse {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  margin: 0 10px 0 0;
}

.number-collapse {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  margin: 0 10px 0 0;
}
.number-collapse span {
  position: absolute;
  left: 0;
  right: 0;
  top: -1px;
  font-weight: bold;
  font-size: 14px;
}

.accordion-collapse {
  border: 0 !important;
}

.accordion-body {
  background-color: #f5f5f5 !important;
  padding: 40px !important;
  border-bottom: 1px solid #c6c7c9 !important;
}

.accordion-body p {
  font-size: 13px;
  font-weight: 500;
  color: #42495b !important;
}

.accordion-button.collapsed {
  background: #f5f5f5 !important;
}

.accordion-item {
  border: 0;
}

.accordion-button:focus {
  border-color: transparent !important;
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  background-color: #ca1f25 !important;
  color: #fff !important;
}

.accordion-button::after {
  transform: rotate(270deg) !important;
  background-size: 18px !important;
}

.accordion-collapse {
  position: relative;
}

.poligon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  font-weight: bold;
  font-size: 16px;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../img/arrow-down.png") !important;
  transform: rotate(360deg) !important;
  background-size: 18px;
  background-position: center;
}

.accordion-button.collapsed h6 {
  font-weight: 600;
  text-align: left;
  color: #656565;
}

.carousel-inner .carousel-item h4 {
  font-size: 18px;
  color: #42495b;
}

.carousel-inner .carousel-item p {
  font-weight: 300;
}

.carousel-inner .carousel-item .text-quote {
  font-weight: 600;
}

.form-header {
  background-color: #f4f1ee;
  height: 500px;
}

.section-2-home.bg-form-redis {
  background-image: url("../img/redis/transporte-urbano.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  z-index: 1000;
}

.redis-section-heading {
  font-size: 18px !important;
  font-weight: 400 !important;
}

.redis-section-item-text p {
  font-weight: 600 !important;
  font-size: 16px;
  color: #289bf8;
}

.redis-h1-section-item-text h1 {
  color: #ca1f25;
}

/*Responsive*/

/*Header - Nav*/

@media (max-width: 767px) {
  header::after {
    content: "";
    position: absolute;
    background-image: url("../img/webinar/logo_header.png");
    background-repeat: no-repeat;
    background-size: 350px;
    width: 350px;
    height: 207px;
    top: -27px;
    right: -29px;
  }

  .header-home::before {
    display: none;
  }

  nav ul li {
    list-style: none;
    margin-right: 35px;
  }

  .section-3,
  .home-section-3 {
    height: auto;
    background-color: #45b0e2;
    background-image: none;
    padding: 30px;
  }

  .redis-section-3 {
    background-image: url("../img/webinar/graphic.png");
    background-repeat: no-repeat;
    background-position: inherit;
    height: 1950px;
    color: #fff;
  }

  .home-section-3 .home-item-box .item-box-card {
    width: 100%;
  }
}

@media (max-width: 567px) {
  header::after {
    content: "";
    position: absolute;
    background-image: url("../img/webinar/logo_header.png");
    background-repeat: no-repeat;
    background-size: 208px;
    width: 208px;
    height: 350px;
    top: -16px;
    right: -17px;
  }

  nav ul li {
    list-style: none;
    margin-right: 25px;
  }

  .redis-section-3 {
    background-image: url("../img/webinar/graphic.png");
    background-repeat: no-repeat;
    background-position: inherit;
    height: 1950px;
    color: #fff;
  }

  .section-3,
  .home-section-3 {
    height: auto;
    background-color: #45b0e2;
    background-image: none;
    padding: 30px;
  }

  .home-section-3 .home-item-box .item-box-card {
    width: 100%;
  }
}
